* {
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0 auto;
}
body {
    background: linear-gradient(135deg,rgb(149, 168, 185),rgb(65, 33, 65));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 30px auto;
    padding: 35px 25px 25px 25px;
    background-color: white;
    border-radius: 20px;
    gap: 30px;
}

button {
    width: 100%;
    height: 35px;
    background-color: rgb(151, 28, 178);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(165, 43, 201);
}

button:active {
    scale: 0.98;
}



input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

input:focus {
    border: 2px solid #9224b5;
}

.botao_e_link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}